// ********************************************************************************************
//
// mixin.scss
//
// ********************************************************************************************
@mixin textImage {
	display: block;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
@mixin textIndent {
	text-indent: -1em;
	padding-left: 1em;
}
// vw計算
@function get_vw($size, $viewport: 320) {
	$rate: 100 / $viewport;
	@return $rate * $size * 1vw;
}
@mixin fz_vw($font_size: 10) {
	font-size: $font_size * 1px;
	font-size: get_vw($font_size);
}
