// ********************************************************************************************
//
// base.scss
//
// ********************************************************************************************
*::before,
*::after {
	box-sizing: border-box;
}
html {
	font-size: $BASE_FONT_SIZE;
}
body {
	width: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-overflow-scrolling: touch;
	-webkit-font-smoothing: antialiased;
	font-size: 1.2rem;
	line-height: $BASE_LINE_HEIGHT;
	color: $BASE_BLACK;
	font-family: $BASE_FONT_FAMILY;
}
a {
	color: inherit;
	font-size: inherit;
	transition: .7s;
	@include pc {
		&:hover {
			opacity: .7;
			
		}
	}
}
img {
    max-width: 100%;
}
button, input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    border: none;
    outline: none;
    background: transparent;
}
ul,ol,li {
	list-style-type: none;
}
em {
	font-style: normal;
}