<ol class="c-breadcrumb" 
	itemscope 
	itemtype="https://schema.org/BreadcrumbList">
	<li class="c-breadcrumb__item" 
		itemprop="itemListElement" 
		itemscope
		itemtype="https://schema.org/ListItem">
		<a class="c-breadcrumb__link" 
			itemprop="item" 
			href="https://example.com/books">
			<span class="c-breadcrumb__text" itemprop="name">Books</span>
		</a>
		<meta itemprop="position" content="1" />
	</li>
	›
	<li class="c-breadcrumb__item" 
		itemprop="itemListElement" 
		itemscope
		itemtype="https://schema.org/ListItem">
		<a class="c-breadcrumb__link" 
			itemscope 
			itemtype="https://schema.org/WebPage"
			itemprop="item" 
			itemid="https://example.com/books/sciencefiction"
			href="https://example.com/books/sciencefiction">
			<span class="c-breadcrumb__text" itemprop="name">Science Fiction</span>
		</a>
		<meta itemprop="position" content="2" />
	</li>
	›
	<li class="c-breadcrumb__item" 
		itemprop="itemListElement" 
		itemscope
		itemtype="https://schema.org/ListItem">
		<span class="c-breadcrumb__text" itemprop="name">Award winners</span>
		<meta itemprop="position" content="3" />
	</li>
</ol>