<div class="p-faq" 
	itemscope 
	itemprop="mainEntity" 
	itemtype="https://schema.org/Question">
	<h3 class="p-faq__question" 
		itemprop="name">質問質問質問質問質問？</h3>
	<div class="p-faq__answer" 
		itemscope 
		itemprop="acceptedAnswer" 
		itemtype="https://schema.org/Answer">
    	<p class="p-faq__text" itemprop="text">回答回答回答</p>
    </div>
</div>
<div class="p-faq" 
	itemscope 
	itemprop="mainEntity" 
	itemtype="https://schema.org/Question">
	<h3 class="p-faq__question" 
		itemprop="name">質問質問質問質問質問2？</h3>
	<div class="p-faq__answer" 
		itemscope 
		itemprop="acceptedAnswer" 
		itemtype="https://schema.org/Answer">
    	<p class="p-faq__text" itemprop="text">回答回答回答2</p>
    </div>
</div>
